<div class="project_management_div" >
  <span class="control_span">
    <%= image_tag "button_commit.png", size: '40x40', class: "commit_button"%>  
  </span>
  <span class="control_span">
    <%= image_tag "button_revert.png", size: '37x37', class: "revert_button" %>  
  </span>
  <span class="control_span">
    <%= image_tag "nuke.png", size: '40x40', class: "clear_all_button" %>  
  </span>
  <span class="control_span">
    <%= image_tag "back_button.png", size: '40x40', class: "back_button" %>
  </span>
  <span class="control_span">
    <label class="controls_commits_label"></label>       
  </span>
  <span class="control_span">
    <%= image_tag "forward_button.png", size: '40x40', class: "forward_button" %>
  </span>
</div>