<meta property="projectId" content="<%= @project.id %>">
<meta property="projectTempo" content="<%= @project.tempo %>">
<meta property="currentBranchId" content="<%= @current_branch.id %>">
<meta property="currentCommitId" content="<%= @current_commit_id %>">
<div class="page_div">
  <container class="col-md-12">
      <div class="main_container">
      <%= render 'project_header' %>
        <%= render 'project_player' %> 
          <table>
            <tr>
              <td class="col-md-1 control_spans_row">
                <span class="controls_span">Transport</span>
              </td>
              <td class="col-md-1 control_spans_row">
                <span class="controls_span">Commits</span>
              </td>
              <td class="col-md-1 control_spans_row">
                <span class="controls_span">Branch</span>
              </td>
            </tr>
            <tr>
              <td class="col-md-1 control_spans_row">
                <%= render 'player_transport' %> 
              
              </td>
              <td class="col-md-1 control_spans_row  ">
                <%= render 'project_management' %>  
              </td>
              <td class="col-md-1 control_spans_row">
                <%= render 'project_branches' %>
              </td>
            </tr>
          </table>
      </div>
  </container>
</div>