<meta property="projectId" content="<%= @project.id %>">
<meta property="projectTempo" content="<%= @project.tempo %>">
<meta property="lastCommitId" content="<%= @last_commit.id %>">
<meta property="lastCommitNumber" content="<%= @last_commit.commit_number %>">
<div class="page_div">
  <container class="col-md-12">
      <div class="main_container">
      <%= render 'project_header' %>
        <%= render 'project_player' %> 
          <table>
            <tr>
              <td class="col-md-2 control_labels_row">
                <label class="controls_label">Transport</label>
              </td>
              <td class="col-md-2 control_labels_row">
                <label class="controls_label">Commits</label>
              </td>
            </tr>
            <tr>
              <td class="col-md-2 control_labels_row">
                <%= render 'player_transport' %> 
              
              </td>
              <td class="col-md-2 control_labels_row  ">
                <%= render 'project_management' %>  
              </td>
            </tr>
          </table>
      </div>
  </container>
</div>