<meta property="projectId" content="<%= @project.id %>">
<meta property="projectTempo" content="<%= @project.tempo %>">
<meta property="lastCommitId" content="<%= @last_commit.id %>">

<div class="page_div">
  <container class="col-md-12">
    <div class="main_container">
      <%= render 'project_player' %> 
      <%= render 'player_transport' %> 
      <%= render 'project_management' %>
    </div>

  </container>
  
<!--   <container id="commit-history" class="col-md-2">
    <%= render 'project_commit_history' %>
  </container> -->

</div>